<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Register</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'mainapp/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'mainapp/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'mainapp/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'mainapp/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'mainapp/css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'mainapp/images/icon/logo.png' %}" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="{% url 'mainapp:register' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="au-input au-input--full" type="text" name="name" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input class="au-input au-input--full" type="text" name="cId" placeholder="College ID">
                                </div>
                                <div class="form-group">
                                    <select class="au-input au-input--full" name="dsgn" required>
													<option value="" disabled="select" selected="selected">Designation</option>
													<option value="Assosciate Professor">Assosciate Professor</option>
													<option value="Assistant Professor">Assistant Professor</option>
                                                    <option value="Professor">Professor</option>
                                                    <option value="HOD">HOD</option>
                                    </select>
										</div>
                                <div class="form-group">
                                    <select class="au-input au-input--full" name="branch" required>
													<option value="" disabled="select" selected="selected">Branch</option>
													<option value="Assosciate Professor">CSE</option>
													<option value="Assistant Professor">ECE</option>
                                                    <option value="Professor">CIVIL</option>
                                                    <option value="HOD">IT</option>
                                                    <option value="HOD">MECH</option>
                                                    <option value="HOD">EEE</option>
                                                    <option value="HOD">EIE</option>

                                    </select>
										</div>
                                <div class="form-group">
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input class="au-input au-input--full" type="password" name="psw" placeholder="Password">
                                </div>

                                <button class="au-btn au-btn--block au-btn--posh m-b-20" style="background-color: #2C3E50;" type="submit">register</button>

                            </form>
                            <div class="register-link">
                                <p>
                                    Already have account?
                                    <a href="#">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

   <!-- Jquery JS-->
    <script src="{% static "mainapp/vendor/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static "mainapp/vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "mainapp/vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static "mainapp/vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "mainapp/vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "mainapp/vendor/animsition/animsition.min.js"  %}"></script>
    <script src="{% static "mainapp/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "mainapp/vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "mainapp/vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "mainapp/vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "mainapp/vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "mainapp/vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "mainapp/vendor/select2/select2.min.js" %}">
    </script>

    <!-- Main JS-->
    <script src="{% static "mainapp/js/main.js" %}"></script>

</body>

</html>
<!-- end document-->